<!doctype html>
<html>
  <head>
    <title>Photobomb remover</title>
    <meta http-equiv="refresh" content="{{wait}}" />
  </head>
  <body>
    <h1>The image is being prepared</h1>
    {{ queue }} files in queue
  </body>
</html>