<!doctype html>
<html>
  <head>
    <title>Photobomb remover</title>
  </head>
  <body>
    <h1>Chose an object to remove</h1>
  <form action="/start_inpainting" method="post">
    <input type="hidden" id="filename" name="filename" value="{{ filename }}">
    <select id="bomb" name="bomb">
      <option disabled>Select an object</option>
      {% for bomb in bombs %}
        <option value="{{ bomb }}">{{bomb}}</option>
      {% endfor %}
     </select></p>
     <input type="submit" value="Submit"></p>
   </form>
    <img id="result" src="/demos/{{ filename }}"/>
  </body>
</html>